@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --blue: hsl(240, 38%, 20%);
  --blue-shadow:  rgba(32, 32, 70, 0.35);
  --gray: hsl(240, 18%, 77%);
  --font-size: 32px;
  --font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
  color: var(--blue);
}

image,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
}

.testimonial-slider-container {
  min-height: 100vh;
  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 75%;
}
 
.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0.5rem;
}

.slide .slide-role {
  color: var(--gray);
}

.slide .slide-image {
  width: clamp(250px, 40vw, 475px);
  height: auto;
  border-radius: 0.25rem;
  aspect-ratio: 1/1;
  margin: 0 auto;
  box-shadow: 0px 48px 48px -32px var(--blue-shadow);
}

.slide .image-container {
  background-image: url(../images/pattern-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: clamp(0.75rem, 5vw, 1.8rem);
  background-size: contain;
  max-width: clamp(500px, 90vw, 800px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-controls {
  display: flex;
}

.slider-control button {
  padding: 0.5rem;
  border: none;
  background-color: #fff;
}

.slider-control.previous button {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.slider-control.next button {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.slide-quote::before {
  content: "";
  background: url("../images/pattern-quotes.svg");
  position: absolute;
  top: clamp(-1rem, -1rem + 0.25vh, -2rem);
  left: 50%;
  transform: translateX(-50%);
  height: 3rem;
  width: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  z-index: -1;
  display: block;
}

.slide-quote {
  text-align: center;
  font-size: clamp(20px, 20px + 1vw, 32px);
  line-height: 1.6;
  font-weight: 300;
  position: relative;
}

.slide-name,
.slide-role {
  margin: 0;
  font-size: clamp(16px, 16px + 0.75vw, 20px);
}

.slide-name {
  margin-bottom: 4px;
  font-weight: 700;
}

.slide-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

@media screen and (min-width: 750px) {
  .testimonial-slider-container {
    background-size: 42%;
    background-size: clamp(40%, 50dvw, 45%);
  }
}

@media screen and (min-width: 1024px) {
  .slide-author {
    flex-direction: row;
    gap: 0.25rem;
    justify-content: center;
    align-items: self-start;
  }

  .slide-name {
    margin-bottom: 0;
  }

  .slide-quote {
    text-align: start;
  }

  .slide-author {
    justify-content: start;
  }

  .slide-quote::before {
    left: 12%;
    top: -60px;
  }
}